WebApplication/Web References/webServiceReference/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHistoric">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doctorId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pacientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="diagnose" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="treatment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHistoricResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertDoctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDoctorResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertPacient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertPacientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertPacientResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllDoctorPacients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doctorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllDoctorPacientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllDoctorPacientsResult" type="tns:ArrayOfPacient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPacient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pacient" nillable="true" type="tns:Pacient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pacient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllPacientRecords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pacientId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllPacientRecordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllPacientRecordsResult" type="tns:ArrayOfHistoric" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHistoric">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Historic" nillable="true" type="tns:Historic" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Historic">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DoctorId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PacientId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="diagnose" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="treatment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPacientInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pacientId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPacientInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPacientInfoResult" type="tns:Pacient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDoctorInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doctorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDoctorInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDoctorInfoResult" type="tns:Doctor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Doctor">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllDoctors">
        <s:complexType />
      </s:element>
      <s:element name="getAllDoctorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllDoctorsResult" type="tns:ArrayOfDoctor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDoctor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
        </s:sequence>
      </s:complexType>
      <s:element name="loginPacient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginPacientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginPacientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="tns:Userdata" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Userdata">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="loguedAs" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="updateDoctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateDoctorResponse">
        <s:complexType />
      </s:element>
      <s:element name="updatePacient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pacientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatePacientResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateClinicalRecords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diagnose" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="treatment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateClinicalRecordsResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteDoctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doctorId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteDoctorResponse">
        <s:complexType />
      </s:element>
      <s:element name="deletePacient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pacientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deletePacientResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteClinicalRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recordId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteClinicalRecordResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteClinicalRecordsWithPacientId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pacientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteClinicalRecordsWithPacientIdResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="insertHistoricSoapIn">
    <wsdl:part name="parameters" element="tns:insertHistoric" />
  </wsdl:message>
  <wsdl:message name="insertHistoricSoapOut">
    <wsdl:part name="parameters" element="tns:insertHistoricResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDoctorSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDoctor" />
  </wsdl:message>
  <wsdl:message name="InsertDoctorSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="insertPacientSoapIn">
    <wsdl:part name="parameters" element="tns:insertPacient" />
  </wsdl:message>
  <wsdl:message name="insertPacientSoapOut">
    <wsdl:part name="parameters" element="tns:insertPacientResponse" />
  </wsdl:message>
  <wsdl:message name="getAllDoctorPacientsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllDoctorPacients" />
  </wsdl:message>
  <wsdl:message name="getAllDoctorPacientsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllDoctorPacientsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPacientRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllPacientRecords" />
  </wsdl:message>
  <wsdl:message name="getAllPacientRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllPacientRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="getPacientInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getPacientInfo" />
  </wsdl:message>
  <wsdl:message name="getPacientInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getPacientInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getDoctorInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getDoctorInfo" />
  </wsdl:message>
  <wsdl:message name="getDoctorInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getDoctorInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getAllDoctorsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllDoctors" />
  </wsdl:message>
  <wsdl:message name="getAllDoctorsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllDoctorsResponse" />
  </wsdl:message>
  <wsdl:message name="loginPacientSoapIn">
    <wsdl:part name="parameters" element="tns:loginPacient" />
  </wsdl:message>
  <wsdl:message name="loginPacientSoapOut">
    <wsdl:part name="parameters" element="tns:loginPacientResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="updateDoctorSoapIn">
    <wsdl:part name="parameters" element="tns:updateDoctor" />
  </wsdl:message>
  <wsdl:message name="updateDoctorSoapOut">
    <wsdl:part name="parameters" element="tns:updateDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="updatePacientSoapIn">
    <wsdl:part name="parameters" element="tns:updatePacient" />
  </wsdl:message>
  <wsdl:message name="updatePacientSoapOut">
    <wsdl:part name="parameters" element="tns:updatePacientResponse" />
  </wsdl:message>
  <wsdl:message name="updateClinicalRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:updateClinicalRecords" />
  </wsdl:message>
  <wsdl:message name="updateClinicalRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:updateClinicalRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteDoctorSoapIn">
    <wsdl:part name="parameters" element="tns:deleteDoctor" />
  </wsdl:message>
  <wsdl:message name="deleteDoctorSoapOut">
    <wsdl:part name="parameters" element="tns:deleteDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="deletePacientSoapIn">
    <wsdl:part name="parameters" element="tns:deletePacient" />
  </wsdl:message>
  <wsdl:message name="deletePacientSoapOut">
    <wsdl:part name="parameters" element="tns:deletePacientResponse" />
  </wsdl:message>
  <wsdl:message name="deleteClinicalRecordSoapIn">
    <wsdl:part name="parameters" element="tns:deleteClinicalRecord" />
  </wsdl:message>
  <wsdl:message name="deleteClinicalRecordSoapOut">
    <wsdl:part name="parameters" element="tns:deleteClinicalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="deleteClinicalRecordsWithPacientIdSoapIn">
    <wsdl:part name="parameters" element="tns:deleteClinicalRecordsWithPacientId" />
  </wsdl:message>
  <wsdl:message name="deleteClinicalRecordsWithPacientIdSoapOut">
    <wsdl:part name="parameters" element="tns:deleteClinicalRecordsWithPacientIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHistoric">
      <wsdl:input message="tns:insertHistoricSoapIn" />
      <wsdl:output message="tns:insertHistoricSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDoctor">
      <wsdl:input message="tns:InsertDoctorSoapIn" />
      <wsdl:output message="tns:InsertDoctorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertPacient">
      <wsdl:input message="tns:insertPacientSoapIn" />
      <wsdl:output message="tns:insertPacientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllDoctorPacients">
      <wsdl:input message="tns:getAllDoctorPacientsSoapIn" />
      <wsdl:output message="tns:getAllDoctorPacientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllPacientRecords">
      <wsdl:input message="tns:getAllPacientRecordsSoapIn" />
      <wsdl:output message="tns:getAllPacientRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPacientInfo">
      <wsdl:input message="tns:getPacientInfoSoapIn" />
      <wsdl:output message="tns:getPacientInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDoctorInfo">
      <wsdl:input message="tns:getDoctorInfoSoapIn" />
      <wsdl:output message="tns:getDoctorInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllDoctors">
      <wsdl:input message="tns:getAllDoctorsSoapIn" />
      <wsdl:output message="tns:getAllDoctorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginPacient">
      <wsdl:input message="tns:loginPacientSoapIn" />
      <wsdl:output message="tns:loginPacientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateDoctor">
      <wsdl:input message="tns:updateDoctorSoapIn" />
      <wsdl:output message="tns:updateDoctorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updatePacient">
      <wsdl:input message="tns:updatePacientSoapIn" />
      <wsdl:output message="tns:updatePacientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateClinicalRecords">
      <wsdl:input message="tns:updateClinicalRecordsSoapIn" />
      <wsdl:output message="tns:updateClinicalRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteDoctor">
      <wsdl:input message="tns:deleteDoctorSoapIn" />
      <wsdl:output message="tns:deleteDoctorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deletePacient">
      <wsdl:input message="tns:deletePacientSoapIn" />
      <wsdl:output message="tns:deletePacientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteClinicalRecord">
      <wsdl:input message="tns:deleteClinicalRecordSoapIn" />
      <wsdl:output message="tns:deleteClinicalRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteClinicalRecordsWithPacientId">
      <wsdl:input message="tns:deleteClinicalRecordsWithPacientIdSoapIn" />
      <wsdl:output message="tns:deleteClinicalRecordsWithPacientIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHistoric">
      <soap:operation soapAction="http://tempuri.org/insertHistoric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDoctor">
      <soap:operation soapAction="http://tempuri.org/InsertDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPacient">
      <soap:operation soapAction="http://tempuri.org/insertPacient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDoctorPacients">
      <soap:operation soapAction="http://tempuri.org/getAllDoctorPacients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPacientRecords">
      <soap:operation soapAction="http://tempuri.org/getAllPacientRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPacientInfo">
      <soap:operation soapAction="http://tempuri.org/getPacientInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDoctorInfo">
      <soap:operation soapAction="http://tempuri.org/getDoctorInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDoctors">
      <soap:operation soapAction="http://tempuri.org/getAllDoctors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginPacient">
      <soap:operation soapAction="http://tempuri.org/loginPacient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDoctor">
      <soap:operation soapAction="http://tempuri.org/updateDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePacient">
      <soap:operation soapAction="http://tempuri.org/updatePacient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClinicalRecords">
      <soap:operation soapAction="http://tempuri.org/updateClinicalRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDoctor">
      <soap:operation soapAction="http://tempuri.org/deleteDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePacient">
      <soap:operation soapAction="http://tempuri.org/deletePacient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteClinicalRecord">
      <soap:operation soapAction="http://tempuri.org/deleteClinicalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteClinicalRecordsWithPacientId">
      <soap:operation soapAction="http://tempuri.org/deleteClinicalRecordsWithPacientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHistoric">
      <soap12:operation soapAction="http://tempuri.org/insertHistoric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDoctor">
      <soap12:operation soapAction="http://tempuri.org/InsertDoctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPacient">
      <soap12:operation soapAction="http://tempuri.org/insertPacient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDoctorPacients">
      <soap12:operation soapAction="http://tempuri.org/getAllDoctorPacients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPacientRecords">
      <soap12:operation soapAction="http://tempuri.org/getAllPacientRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPacientInfo">
      <soap12:operation soapAction="http://tempuri.org/getPacientInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDoctorInfo">
      <soap12:operation soapAction="http://tempuri.org/getDoctorInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDoctors">
      <soap12:operation soapAction="http://tempuri.org/getAllDoctors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginPacient">
      <soap12:operation soapAction="http://tempuri.org/loginPacient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDoctor">
      <soap12:operation soapAction="http://tempuri.org/updateDoctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePacient">
      <soap12:operation soapAction="http://tempuri.org/updatePacient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClinicalRecords">
      <soap12:operation soapAction="http://tempuri.org/updateClinicalRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDoctor">
      <soap12:operation soapAction="http://tempuri.org/deleteDoctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePacient">
      <soap12:operation soapAction="http://tempuri.org/deletePacient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteClinicalRecord">
      <soap12:operation soapAction="http://tempuri.org/deleteClinicalRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteClinicalRecordsWithPacientId">
      <soap12:operation soapAction="http://tempuri.org/deleteClinicalRecordsWithPacientId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44337/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44337/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>